body {  
    font-family: Helvetica, Arial, sans-serif;  
    background: #EEEEEE;
}

h1,h2,h3 {
	color: #FFA600;
	margin: 4px auto;
}

#wrapper{
　width: 600px;
　margin: 0 auto;
　font-size: 13px;
}

#sidebar_left{
	float: left;
	margin: 20px 10px 10px 30px;
	background: white;
	width: 150px;
    border: 5px solid grey;
}

#content{
	float: left;
	margin: 20px 10px 10px 10px;
	background: white;
	width: 600px;
    border: 5px solid grey;
}

#sidebar_right{
	float: left;
	margin: 20px 10px 10px 10px;
	background: white;
	width: 150px;
    border: 5px solid grey;
}

#eventLog{  
    padding: 5px;  
    border: 1px solid black;  
}

#eventLog p {  
    margin:0;  
}

#result{
	font-weight: bold;
	color: #5B85C9;	
}

#gamelist{
	font-weight: bold;
	color: #5B85C9;	
}

.event {  
    color:#999;  
}

.warning{  
    color:#C73636;  
}