.slice01_01{top:0px;left:0px;
width:29px;height:31px;background: url("sprites.png") no-repeat -0px -63px;}
.slice02_02{top:0px;left:0px;
width:19px;height:31px;background: url("sprites.png") no-repeat -75px -96px;}
.slice03_03{top:0px;left:0px;
width:19px;height:31px;background: url("sprites.png") no-repeat -56px -96px;}
.slice04_04{top:0px;left:0px;
width:29px;height:31px;background: url("sprites.png") no-repeat -0px -0px;}
.slice05_05{top:0px;left:0px;
width:19px;height:31px;background: url("sprites.png") no-repeat -94px -96px;}
.slice06_06{top:0px;left:0px;
width:19px;height:31px;background: url("sprites.png") no-repeat -85px -0px;}
.slice07_07{top:0px;left:0px;
width:28px;height:32px;background: url("sprites.png") no-repeat -57px -0px;}
.slice08_08{top:0px;left:0px;
width:27px;height:32px;background: url("sprites.png") no-repeat -84px -64px;}
.slice09_09{top:0px;left:0px;
width:28px;height:32px;background: url("sprites.png") no-repeat -29px -32px;}
.slice10_10{top:0px;left:0px;
width:28px;height:32px;background: url("sprites.png") no-repeat -29px -0px;}
.slice11_11{top:0px;left:0px;
width:28px;height:32px;background: url("sprites.png") no-repeat -29px -64px;}
.slice12_12{top:0px;left:0px;
width:28px;height:32px;background: url("sprites.png") no-repeat -57px -32px;}
.slice13_13{top:0px;left:0px;
width:27px;height:31px;background: url("sprites.png") no-repeat -29px -96px;}
.slice14_14{top:0px;left:0px;
width:29px;height:31px;background: url("sprites.png") no-repeat -0px -94px;}
.slice15_15{top:0px;left:0px;
width:27px;height:32px;background: url("sprites.png") no-repeat -57px -64px;}
.slice16_16{top:0px;left:0px;
width:29px;height:32px;background: url("sprites.png") no-repeat -0px -31px;}
