<!doctype html>
<html ng-app>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="js/todo.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
	<link rel="stylesheet" href="http://angularjs.org/css/docs.css">
    <link rel="stylesheet" href="css/todo.css">
  </head>
  <body>
  <div class="tabs-spacer"></div>
	<div class="span4 well">
    <h2>Todo</h2>
		<div ng-controller="TodoCtrl">
		  <span>{{remaining()}} of {{todos.length}} remaining</span>
		  [ <a href="" ng-click="archive()">archive</a> ]
		  <ul class="unstyled">
			<li ng-repeat="todo in todos">
			  <input type="checkbox" ng-model="todo.done">
			  <span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		  </ul>
		  <form ng-submit="addTodo()">
			<input type="text" ng-model="todoText"  size="30"
				   placeholder="add new todo here">
			<input class="btn-primary" type="submit" value="add">
		  </form>
		</div>
	</div>
  </body>
</html>